<%
  # required variables
  link_path ||= root_path
  title ||= nil
  summary ||= nil
  type ||= nil
  cover_image_path ||= nil
  publish_date ||= nil
%>

<div class="card card-meta-down">
  <% if cover_image_path %>
    <div class="card-image">
      <figure class="">
        <%= link_to link_path do %>
          <%= image_tag cover_image_path, alt: title %>
        <% end %>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <%= link_to title, link_path, class: 'has-text-weight-semibold card-title' %>

    <div class="content">
      <% if type %>
        <div>
          <strong><%= "#{t('labels.type')}:" %></strong>
          <%= type %>
        </div>
      <% end %>
      <% if publish_date %>
        <div>
          <strong><%= "#{t('labels.publication_date')}:" %></strong>
          <%= I18n.l publish_date %>
        </div>
      <% end %>
      <% if summary %>
        <div>
          <%= truncate(strip_tags(summary), length: 100) %>
        </div>
      <% end %>
    </div>
  </div>
</div>