<%
  # required variables
  link_path ||= root_path
  title ||= nil
  summary ||= nil
  type ||= nil
  cover_image_path ||= nil
%>

<div class="card card-meta-down">
  <% if cover_image_path %>
    <div class="card-image">
      <figure class="">
        <%= link_to link_path do %>
          <%= image_tag cover_image_path, alt: title %>
        <% end %>
      </figure>
    </div>
  <% end %>
  <div class="card-content">
    <%= link_to title, link_path, class: 'has-text-weight-semibold card-title' %>

    <div class="content">
      <% if type %>
        <div>
          <strong><%= "#{t('labels.type')}:" %></strong>
          <%= type %>
        </div>
      <% end %>
      <% if summary %>
        <div>
          <%= strip_tags(summary) %>
        </div>
      <% end %>
    </div>
  </div>
</div>