<%
  # required variables
  link_path ||= root_path
  title ||= nil
  illustrator ||= nil
  date_birth ||= nil
  date_death ||= nil
  roles ||= nil
  # summary ||= nil
  cover_image_path ||= nil
  illustration_count ||= nil
  publication_count ||= nil
%>

<div class="card card-meta-hover">
  <% if cover_image_path %>
    <div class="card-image">
      <figure class="image is-square">
        <%= link_to link_path do %>
          <%= image_tag cover_image_path, alt: title %>
        <% end %>
      </figure>
    </div>
  <% end %>
  <%= link_to link_path do %>
    <div class="card-content">
      <div class='has-text-weight-semibold card-title'>
        <%= title %>
      </div>
      <% if illustrator %>
        <div>
          <strong><%= "#{t('labels.by')}:" %></strong>
          <%= illustrator %>
        </div>
      <% end %>
      <% if date_birth %>
        <div>
          <strong><%= t('labels.meta.date_birth') %>:</strong>
          <%= I18n.l date_birth %>
        </div>
      <% end %>
      <% if date_death %>
        <div>
          <strong><%= t('labels.meta.date_death') %>:</strong>
          <%= I18n.l date_death if date_death %>
        </div>
      <% end %>
      <% if roles.present? %>
        <div>
          <strong><%= "#{t('labels.roles')}:" %></strong>
          <%= roles %>
        </div>
      <% end %>
      <% if illustration_count.present? && illustration_count > 0 %>
        <div>
          <strong><%= "#{t('labels.meta.illustration_count')}:" %></strong>
          <%= number_with_delimiter(illustration_count) %>
        </div>
      <% end %>
      <% if publication_count.present? && publication_count > 0 %>
        <div>
          <strong><%= "#{t('labels.meta.publication_count')}:" %></strong>
          <%= number_with_delimiter(publication_count) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>