<%
  title ||= nil
  total ||= nil
  records ||= nil
  partial ||= nil
  summary_method ||= nil
  link_path ||= nil
  more_path ||= nil
%>

<% if records.present? %>
  <div class="listing">
    <div class="columns is-multiline">
      <div class="column is-3">
        <h2 class="title is-4"><%= title %></h2>
      </div>
      <% records.each_with_index do |record, i| %>
        <div class="column is-3 <%= i > 2 && i%3 == 0 ? 'is-offset-3': '' %>">
          <% model_class = record.class.to_s.downcase.to_sym %>
          <% if partial[model_class] == 'card_meta_down' %>
            <%= render partial: 'shared/card_meta_down', locals: {
                  title: record.title,
                  summary: summary_method[model_class].present? ? record.send(summary_method[model_class]) : nil,
                  link_path: send(link_path[model_class], record),
                  cover_image_path: record.cover_image.thumb(record.generate_image_size_syntax(:wide)).url
              } %>
            <% elsif partial[model_class] == 'card_meta_hover' %>
              <%= render partial: 'shared/card_meta_hover', locals: {
                    title: record.title,
                    link_path: send(link_path[model_class], record),
                    cover_image_path: record.image.thumb(record.generate_image_size_syntax(:square)).url,
                    illustrator: record.person_role ? record.person_role.name : nil
                } %>
            <% end %>
        </div>
      <% end %>
    </div>

    <% if total && total.values.sum > records.length %>
      <div class="columns listing-more">
        <div class="column is-9 is-offset-3 has-text-centered">
          <% if total[:illustration] > 0 && more_path[:illustration] %>
            <%= link_to t('labels.view_all_with_count', number: total[:illustration], title: t('labels.illustration')), more_path[:illustration], class: 'read-more is-lowercase' %>
          <% end %>
          <% if total[:publication] > 0 && more_path[:publication] %>
            <%= link_to t('labels.view_all_with_count', number: total[:publication], title: t('labels.publication')), more_path[:publication], class: 'read-more is-lowercase' %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
<% end %>