<%
  title ||= nil
  total ||= nil
  records ||= nil
  partial ||= nil
  summary_method ||= 'about'
  link_path ||= nil
  more_path ||= nil
  show_counts ||= 'false'
%>

<% if records.present? %>
  <div class="listing">
    <div class="columns is-multiline">
      <div class="column is-3">
        <h2 class="title is-4"><%= title %></h2>
      </div>
      <% records.each_with_index do |record, i| %>
        <div class="column is-3 <%= i > 2 && i%3 == 0 ? 'is-offset-3': '' %>">
          <% if partial == 'card_meta_down' %>
            <%= render partial: 'shared/card_meta_down', locals: {
                  title: record.title,
                  summary: record.send(summary_method),
                  link_path: send(link_path, record),
                  cover_image_path: record.cover_image.thumb(record.generate_image_size_syntax(:wide)).url,
                  illustration_count: show_counts == true ? record.illustration_count : nil
              } %>
            <% elsif partial == 'card_meta_hover' %>
              <%= render partial: 'shared/card_meta_hover', locals: {
                    title: record.title,
                    link_path: send(link_path, record),
                    cover_image_path: record.image.thumb(record.generate_image_size_syntax(:square)).url,
                    illustrator: record.person_role ? record.person_role.name : nil,
                    illustration_count: show_counts == true ? record.illustration_count : nil
                } %>
            <% end %>
        </div>
      <% end %>
    </div>

    <% if total && total > records.length && more_path %>
      <div class="columns listing-more">
        <div class="column is-9 is-offset-3 has-text-centered">
          <%= link_to t('labels.view_all_with_count', number: total, title: title), more_path, class: 'read-more is-lowercase' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>