<%
  item ||= nil
  items_path ||= nil
  items_link_label ||= nil
%>

<div class="news-item-cover-image">
  <%= image_tag item.cover_image.url if item.cover_image_stored? %>
</div>

<div class="news-item-container">
  <h1 class="title is-3"><%= title item.title %></h1>

  <div class="news-item-date">
    <%= item.date_publish %>
  </div>

  <div class="news-item-content">
    <% if item.related_items.present? %>
      <div class="news-item-related">
        <h2 class="title is-6"><%= t('.related_item_explanation') %></h2>
        <ul>
          <% item.related_items.each do |related_item| %>
            <li>
              <b><%= related_item.related_item_type_formatted %>:</b>
              <%= link_to related_item.item_title, related_item.item_link %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= item.text.html_safe %>
  </div>

  <% if item.slideshows.present? %>
    <div id="news-item-slideshow" class="slideshow-news-item" style="">
      <div class="slideshow-slides" data-u="slides" style="">
        <% item.slideshows.sorted.each do |image| %>
          <div>
            <%= image_tag image.image.thumb('844x').url, 'data-u': 'image' if image.image_stored? %>
            <% if image.caption.present? %>
              <div class="image-caption"><%= image.caption %></div>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- Arrow Navigator -->
      <div data-u="arrowleft" class="jssora051 arrow left" style="" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
          <svg viewBox="0 0 16000 16000" style="">
              <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
          </svg>
      </div>
      <div data-u="arrowright" class="jssora051 arrow right" style="  " data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
          <svg viewBox="0 0 16000 16000" style="">
              <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
          </svg>
      </div>
    </div>
  <% end %>

  <div class="news-item-view-all">
    <%= link_to items_link_label, items_path, class: 'read-more' %>
  </div>
</div>