<%# OLD - can delete %>

<%
  title ||= t('labels.illustrations')
  illustrations ||= nil
  total ||= nil
%>
  <h2 class="title is-4"><%= title %></h2>

  <% if illustrations.present? %>
    <ul>
      <% illustrations.each do |illustration| %>
        <li>
          <div>
            <%= link_to image_path(illustration) do %>
              <%= image_tag illustration.image.thumb('100x100#').url if illustration.image_stored? %>
            <% end %>
          </div>
          <ul>
            <li>
              <strong><%= t('labels.meta.illustrator') %>:</strong>
              <%= illustration.person_role.name if illustration.person_role %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('messages.no_illustrations') %></p>
  <% end %>
