  <h2 class="title is-4"><%= t('labels.issues') %></h2>

  <% if issues.present? %>

    <div class="page-entries-info">
      <%= page_entries_info issues %>
    </div>

    <div class="columns is-multiline">
      <% issues.each do |issue| %>
        <div class="column is-3">
          <%= render partial: 'shared/card_meta_down', locals: {
                title: issue.issue_number,
                link_path: issue_path(publication, issue),
                cover_image_path: issue.cover_image.thumb('400x204#').url,
                publish_date: issue.date_publication
            } %>
        </div>
      <% end %>
    </div>

    <div class="columns is-centered">
      <duv class="column is-8">
        <%= paginate issues, window: 2 %>
      </duv>
    </div>

  <% else %>
    <p><%= t('messages.no_issues') %></p>
  <% end %>
