
<div class="columns">
  <div class="column is-6 is-offset-1 content">
    <h1 class="title is-3"><%= title t('labels.about') %></h1>

    <%= @about.content.html_safe if @about && @about.content.present? %>

    <% if @contributors && @contributors.content.present? %>
      <h2 class="title is-4"><%= t('labels.contributors') %></h2>

      <div class="contributors">
        <%= @contributors.content.html_safe %>
      </div>
    <% end %>

    <h2 class="title is-4"><%= t('labels.contact') %></h2>

    <ul class="contacts has-no-bullets">
      <li>
        <a href="mailto:oskar@schmerling.org">oskar@schmerling.org</a>
      </li>
    </ul>

    <div class="columns donors-partners">
      <div class="column is-6">
        <h2 class="title is-4"><%= t('labels.donors') %></h2>

        <ul class="has-no-bullets">
          <li>
            <%= link_to "https://www.reed.edu/", target: :blank do %>
              <%= image_tag "logos/reed-college-griffin.png" %>
              <div>
                <%= t('.donors.reed') %>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "https://www.nceeer.org/", target: :blank do %>
              <%= image_tag "logos/nceeer.png" %>
              <div>
                <%= t('.donors.nceeer') %>
              </div>
            <% end %>
          </li>
        </ul>

      </div>
      <div class="column is-6">
        <h2 class="title is-4"><%= t('labels.partners') %></h2>

        <ul class="has-no-bullets">
          <li>
            <%= link_to "http://www.nplg.gov.ge/eng/home", target: :blank do %>
              <%= image_tag "logos/geo_library.png" %>
              <div>
                <%= t('.partners.geo_library') %>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.archives.gov.ge/en/home", target: :blank do %>
              <%= image_tag "logos/national_archives.png" %>
              <div>
                <%= t('.partners.national_archives') %>
              </div>
            <% end %>
          </li>
        </ul>

      </div>
    </div>

  </div>
  <div class="column is-4 decoration">
  </div>
</div>