<h1 class="title is-3"><%= title t('labels.illustrations') %></h1>

<% if @illustrations.present? %>

  <div class="page-entries-info">
    <%= page_entries_info @illustrations %>
  </div>

  <div class="columns is-multiline">
    <% @illustrations.each do |illustration| %>
      <div class="column is-3">
        <%= render partial: 'shared/card_meta_hover', locals: {
              title: illustration.title,
              link_path: illustration_path(illustration),
              cover_image_path: illustration.image.thumb('400x400#').url,
              illustrator: illustration.person_role ? illustration.person_role.name : nil
          } %>
      </div>
    <% end %>
  </div>

  <div class="columns is-centered">
    <duv class="column is-8">
      <%= paginate @illustrations, window: 2 %>
    </duv>
  </div>

<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>

