<%
  @lang_switcher_record = @illustration
  @lang_switcher_has_translations = true
  @lang_switcher_params_key = :id
  @lang_switcher_is_public = true
  @lang_switcher_fallback_url = images_path
  set_meta_tags description: @illustration.context

  detail_orientation_class = 'landscape'
  image_size = :landscape
  img_col_size = 10
  img_offset_size=1
  meta_col_size = 10
  meta_offset_size=1
  if @illustration.image.portrait?
    detail_orientation_class = 'portrait'
    image_size = :portrait
    img_col_size = 4
    meta_col_size = 5
    img_offset_size=1
    meta_offset_size=0
  end

  @body_class = 'meta-details-container'
%>


<div class="columns meta-details <%= detail_orientation_class %>">
  <div class="column is-offset-<%= img_offset_size %> is-<%= img_col_size %> meta-image">
    <%= link_to 'javascript:void(0)', class: 'modal-button', 'data-target': 'modal-meta-image', title: t('labels.view_bigger_image') do %>
      <%= image_tag @illustration.image.thumb(@illustration.generate_image_size_syntax(image_size, false)).url, alt: @illustration.title if @illustration.image_stored? %>
    <% end %>
    <% if @illustration.illustration_annotations.sorted.present? && @illustration.image_stored? %>
      <div class='annotations-more'>
        <%= link_to t('labels.view_annotations'), 'javascript:void(0)', class: 'read-more modal-button', 'data-target': 'modal-annotations' %>
      </div>
    <% end %>
  </div>
  <div class="column is-offset-<%= meta_offset_size %> is-<%= meta_col_size %> meta-items">
    <h1 class="title is-3"><%= title @illustration.title %></h1>
    <div class="meta-items-details">
      <ul class="meta-items-list">
        <% if @illustration.person_role %>
          <li>
            <strong><%= t('labels.by') %>:</strong>
            <%= link_to @illustration.person_role.name, person_path(@illustration.person_role.person), class: 'meta-link' %>
          </li>
        <% end %>

        <% if @illustration.publications.present? || @illustration.issues.present? %>
          <li>
            <strong><%= t('labels.meta.published_in') %>:</strong>
            <ul>
              <% if @illustration.publications.present? %>
                <% @illustration.publications.each do |publication| %>
                  <li>
                    <%= link_to publication.title, source_path(publication), class: 'meta-link' %>
                  </li>
                <% end %>
              <% end %>
              <% if @illustration.issues.present? %>
                <% @illustration.issues.each do |issue| %>
                  <li>
                    <%= link_to issue.full_title, issue_path(issue.publication, issue), class: 'meta-link' %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if @illustration.tags.present? %>
          <li>
            <strong><%= t('labels.meta.tags') %>:</strong>
            <ul>
              <% @illustration.tags.each do |tag| %>
                <li>
                  <%= link_to tag.name, images_path(tag: tag.id), class: 'meta-link' %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

        <% if @illustration.related_items.present? %>
          <li>
            <strong><%= t('labels.meta.in_the_news') %>:</strong>
            <ul>
              <% @illustration.related_items.each do |related_item| %>
                <li>
                  <%= link_to related_item.news_itemable.title, polymorphic_path(related_item.news_itemable), class: 'meta-link' %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

      </ul>

      <div class="meta-text-container">
        <div class="meta-text">
          <%= @illustration.context.html_safe %>
        </div>
        <div class='meta-text-more'>
          <%= link_to t('labels.read_more'), 'javascript:void(0)', class: 'read-more modal-button', 'data-target': 'modal-meta-text' %>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="modal modal-meta-text">
  <div class="modal-background"></div>
  <div class="modal-content">
    <h1 class="title is-3"><%= @illustration.title %></h1>

    <%= @illustration.context.html_safe %>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<% if @illustration.image_stored? %>
  <%= render partial: 'shared/image_modal', locals: {
        image_url: @illustration.image.url,
        alt: @illustration.title
    } %>
<% end %>

<% if @illustration.illustration_annotations.sorted.present? && @illustration.image_stored? %>
  <div class="modal modal-annotations">
    <div class="modal-background"></div>
    <div class="modal-content">
      <h1 class="title is-3"><%= t('labels.annotations_for', name: @illustration.title) %></h1>

      <div class="columns">
        <div class='column is-offset-1 is-5 annotation-markers'>
          <p class='annotation_help is-hidden-mobile'>
            <%= t('labels.annotation_help') %>
          </p>
          <%= image_tag @illustration.image.thumb(@illustration.generate_image_size_syntax(:annotation, false)).url %>
          <% @illustration.illustration_annotations.sorted.each_with_index do |annotation, index| %>
            <div class="annotation-marker" data-number="<%= index+1 %>" data-x="<%= annotation.x %>" data-y="<%= annotation.y %>">
              <div class="marker-number"><%= index+1 %></div>
            </div>
          <% end %>
        </div>

        <ul class='annotation-list column is-4 '>
          <% @illustration.illustration_annotations.sorted.each_with_index do |annotation, index| %>
            <li class="columns is-mobile" data-number="<%= index+1 %>">
              <div class="column is-narrow">
                <div class="annotation-marker"><div class="marker-number"><%= index+1 %></div></div>
              </div>
              <div class="column annotation-text">
                <%= annotation.annotation %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
<% end %>
