<%
  @lang_switcher_record = @illustration
  @lang_switcher_has_translations = true
  @lang_switcher_params_key = :id
  @lang_switcher_is_public = true
  @lang_switcher_fallback_url = illustrations_path
%>
<h1><%= @illustration.title %></h1>

<div>
  <%= image_tag @illustration.image.thumb('50x50%').url if @illustration.image_stored? %>
</div>
<div>
  <%= simple_format(@illustration.context) %>
</div>


<ul>
  <li>
    <strong><%= t('labels.meta.illustrator') %>:</strong>
    <%= link_to @illustration.illustrator.name, illustrator_path(@illustration.illustrator) %>
  </li>

  <% if @illustration.publications.present? || @illustration.issues.present? %>
    <li>
      <strong><%= t('labels.meta.published_in') %>:</strong>
      <ul>
        <% if @illustration.publications.present? %>
          <% @illustration.publications.each do |publication| %>
            <li>
              <%= link_to publication.title, source_path(publication) %>
            </li>
          <% end %>
        <% end %>
        <% if @illustration.issues.present? %>
          <% @illustration.issues.each do |issue| %>
            <li>
              <%= link_to issue.full_title, issue_path(issue.publication, issue) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if @illustration.tags.present? %>
    <strong><%= t('labels.meta.tags') %>:</strong>
    <li>
      <ul>
        <% @illustration.tags.each do |tag| %>
          <li>
            <%= link_to tag.name, illustrations_path(tag: tag.id) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if @illustration.related_items.present? %>
    <strong><%= t('labels.meta.in_the_news') %>:</strong>
    <li>
      <ul>
        <% @illustration.related_items.each do |related_item| %>
          <li>
            <%= link_to related_item.news_itemable.title, polymorphic_path(related_item.news_itemable) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

</ul>


<% if @illustration.illustration_annotations.sorted.present? && @illustration.image_stored? %>
  <h2><%= t('labels.annotations') %></h2>

  <div class='annotation-markers'>
    <%= image_tag @illustration.image.thumb('40x40%').url %>
    <%
      img_width = @illustration.image.thumb('40x40%').width
      img_height = @illustration.image.thumb('40x40%').height
    %>
    <% @illustration.illustration_annotations.sorted.each_with_index do |annotation, index| %>

      <div class="annotation-marker" style="left: <%= (annotation.x*img_width).round(2)%>px; top: <%= (annotation.y*img_height).round(2)%>px">
        <div class="marker-number"><%= index+1 %></div>
      </div>
    <% end %>
  </div>

  <ul class='annotation-list'>
    <% @illustration.illustration_annotations.sorted.each_with_index do |annotation, index| %>
      <li>
        <div class="annotation-marker"><div class="marker-number"><%= index+1 %></div></div>
        <%= annotation.annotation %>
      </li>
    <% end %>
  </ul>
<% end %>
