<%
  @lang_switcher_record = @illustrator
  @lang_switcher_has_translations = true
  @lang_switcher_params_key = :id
  @lang_switcher_is_public = true
  @lang_switcher_fallback_url = illustrators_path
%>
<h1 class="title is-3"><%= @illustrator.name %></h1>

<div>
  <%= image_tag @illustrator.image.thumb('300x200#').url if @illustrator.image_stored? %>
</div>
<div>
  <%= simple_format(@illustrator.bio) %>
</div>


<ul>
  <li>
    <strong><%= t('labels.meta.birth_date') %>:</strong>
    <%= @illustrator.date_birth %>
  </li>
  <li>
    <strong><%= t('labels.meta.death_date') %>:</strong>
    <%= @illustrator.date_death %>
  </li>
  <li>
    <strong><%= t('labels.meta.illustration_count') %>:</strong>
    <%= number_with_delimiter(@illustrator.illustration_count) %>
  </li>

  <% if @illustrator.related_items.present? %>
    <strong><%= t('labels.meta.in_the_news') %>:</strong>
    <li>
      <ul>
        <% @illustrator.related_items.each do |related_item| %>
          <li>
            <%= link_to related_item.news_itemable.title, polymorphic_path(related_item.news_itemable) %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>

</ul>

<%= render partial: "illustrations", locals: {illustrations: @illustrator.illustrations.published.sort_published_desc} %>
