<%
  column_size = 'is-6-mobile is-4-tablet is-3-desktop is-3'
  card_partial = 'shared/card_meta_hover'
  hacked_class = 'hacked-mobile'
  if params[:view].present? && params[:view].downcase == 'list'
    column_size = 'is-12'
    card_partial = 'shared/card_meta_right'
    hacked_class = ''
  end
%>

<div class="columns is-centered">
  <div class="column is-10">

    <h1 class="title is-3"><%= title t('labels.illustrations') %></h1>

    <div class="filters illustrations">
      <div class="columns">
        <div class="column is-3">
          <div class="filter-label">
            <label for="filter_search"><%= t('labels.filter.search') %></label>
          </div>
          <div class="filter-search">
            <div class="control has-icons-right">
              <%= text_field :filter, :search, value: params[:search], 'data-key': 'search' %>
              <span class="icon is-right">
                <i class="search"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="filter-label">
            <div class="control has-icons-right">
              <label for="filter_type"><%= t('labels.filter.source_type') %></label>
              <span class="icon is-right">
                <i class="down-arrow"></i>
              </span>
            </div>
          </div>
          <div class="filter-select">
            <%= select(:filter, :type, options_for_select(@filter_source_types, params[:type]), {prompt: ''}, {style: 'width: 100%', 'data-key': 'type'}) %>
          </div>
        </div>
        <div class="column is-3">
          <div class="filter-label">
            <div class="control has-icons-right">
              <label for="filter_illustrator"><%= t('labels.filter.illustrator') %></label>
              <span class="icon is-right">
                <i class="down-arrow"></i>
              </span>
            </div>
          </div>
          <div class="filter-select">
            <%= collection_select(:filter, :illustrator, @filter_illustrators, :slug, :name, {selected: params[:illustrator], prompt: ''}, {style: 'width: 100%', 'data-key': 'illustrator'}) %>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'shared/list_switcher', locals: {records: @illustrations} %>

    <div class="columns is-multiline <%= hacked_class %>">
      <% @illustrations.each do |illustration| %>
        <div class="column <%= column_size %>">
          <%= render partial: card_partial, locals: {
                title: illustration.title,
                link_path: illustration_path(illustration),
                cover_image_path: illustration.image.thumb('400x400#').url,
                summary: illustration.context,
                illustrator: illustration.person_role ? illustration.person_role.name : nil
            } %>
        </div>
      <% end %>
    </div>

    <div class="columns is-centered">
      <duv class="column is-8">
        <%= paginate @illustrations, window: 2 %>
      </duv>
    </div>

  </div>
</div>