<h1 class="title is-3"><%= t('labels.illustrations') %></h1>

<% if @illustrations.present? %>
  <ul>
    <% @illustrations.each do |illustration| %>
      <li>
        <div>
          <%= link_to illustration_path(illustration) do %>
            <%= image_tag illustration.image.thumb('100x100#').url if illustration.image_stored? %>
          <% end %>
        </div>
        <div>
          <%= link_to illustration.title, illustration_path(illustration) %>
        </div>
        <ul>
          <li>
            <strong><%= t('labels.meta.illustrator') %>:</strong>
            <%= illustration.illustrator.name %>
          </li>
          <li>
            <strong><%= t('labels.meta.publication_count') %>:</strong>
            <%= number_with_delimiter(illustration.combined_publications_count) %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>