<%
  column_size = 'is-6-mobile is-4-tablet is-3-desktop is-3'
  card_partial = 'shared/card_meta_hover'
  hacked_class = 'hacked-mobile'
  if params[:view].present? && params[:view].downcase == 'list'
    column_size = 'is-12'
    card_partial = 'shared/card_meta_right'
    hacked_class = ''
  end

%>

<div class="columns is-centered">
  <div class="column is-10">

    <h1 class="title is-3"><%= title t('labels.illustrations') %></h1>

    <div class="filters illustrations">

      <div class="filters-button is-hidden-tablet has-text-centered">
        <button class="button button-close is-lowercase has-icons-right">
          <%= t('labels.filters') %>
        </button>
      </div>

      <div class="columns is-multiline is-hidden-mobile filter-toggle">
        <div class="column is-6-tablet is-3-desktop">
          <div class="filter-label">
            <label for="filter_search"><%= t('labels.filter.search') %></label>
          </div>
          <div class="filter-search">
            <div class="control has-icons-right is-clearfix">
              <%= text_field :filter, :search, value: params[:search], 'data-key': 'search' %>
              <span class="clear-search <%= params[:search].present? ? 'is-active' : '' %>" title="Remove all items">×</span>
              <span class="icon is-right">
                <i class="search"></i>
              </span>
            </div>
          </div>
        </div>
        <% if @filter_date_ranges.present? %>
          <div class="column is-6-tablet is-3-desktop">
            <div class="filter-label filter-label-date">
              <label><%= t('labels.filter.date') %></label>
            </div>
            <div class="filter-date dropdown">
              <div class="dropdown-trigger">
                <button class="button control has-icons-right is-clearfix" aria-haspopup="true" aria-controls="dropdown-date">
                  <span class="dropdown-trigger-content" data-start="<%= params[:date_start] %>" data-end="<%= params[:date_end] %>" data-min="<%= @filter_date_ranges[:min] %>-01-01" data-max="<%= @filter_date_ranges[:max] %>-12-31">

                    <% label = generate_date_label(params[:date_start], params[:date_end]) %>
                    <% if label != '&nbsp;' %>
                      <span class="clear-date is-pulled-right" title="Remove all items">×</span>
                    <% end %>
                    <%= label %>
                  </span>
                  <span class="icon is-right">
                    <i class="down-arrow" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-date" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item is-clearfix">
                    <%= t('labels.filter.date_explanation') %>
                    <button class="button button-close is-pulled-right is-small">
                      <%= t('labels.filter.date_close') %>
                    </button>
                    <button class="button button-clear is-pulled-right is-small">
                      <%= t('labels.filter.date_clear') %>
                    </button>
                  </div>
                  <div class="dropdown-item calendar date-start">
                    <div class='date-label'>
                      <%= t('labels.filter.date_start') %>:
                      <span class="selected-date-label" data-no-data="<%= I18n.t('labels.filter.no_date') %>">
                        <%= params[:date_start].present? ? params[:date_start] : I18n.t('labels.filter.no_date') %>
                      </span>
                    </div>
                    <div class="datepicker"></div>
                  </div>
                  <div class="dropdown-item calendar date-end">
                    <div class='date-label'>
                      <%= t('labels.filter.date_end') %>:
                      <span class="selected-date-label" data-no-data="<%= I18n.t('labels.filter.no_date') %>">
                        <%= params[:date_end].present? ? params[:date_end] : I18n.t('labels.filter.no_date') %>
                      </span>
                    </div>
                    <div class="datepicker"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @filter_source_types.present? %>
          <div class="column is-6-tablet is-3-desktop">
            <div class="filter-label">
              <label for="filter_type"><%= t('labels.filter.source_type') %></label>
            </div>
            <div class="filter-select">
              <%= select(:filter, :type, options_for_select(@filter_source_types, params[:type]), {prompt: ''}, {style: 'width: 100%', 'data-key': 'type'}) %>
            </div>
          </div>
        <% end %>
        <% if @filter_people.present? %>
          <div class="column is-6-tablet is-3-desktop">
            <div class="filter-label">
              <label for="filter_person"><%= t('labels.filter.person') %></label>
            </div>
            <div class="filter-select">
              <%= collection_select(:filter, :person, @filter_people, :slug, :name, {selected: params[:person], prompt: ''}, {style: 'width: 100%', 'data-key': 'person'}) %>
            </div>
          </div>
        <% end %>
        <% if @filter_roles.present? %>
          <div class="column is-6-tablet is-3-desktop">
            <div class="filter-label">
              <label for="filter_role"><%= t('labels.filter.role') %></label>
            </div>
            <div class="filter-select">
              <%= collection_select(:filter, :role, @filter_roles, :slug, :name, {selected: params[:role], prompt: ''}, {style: 'width: 100%', 'data-key': 'role'}) %>
            </div>
          </div>
        <% end %>
        <% if @filter_tags.present? %>
          <div class="column is-6-tablet is-3-desktop">
            <div class="filter-label">
              <label for="filter_tag"><%= t('labels.filter.tag') %></label>
            </div>
            <div class="filter-select">
              <%= collection_select(:filter, :tag, @filter_tags, :slug, :name, {selected: params[:tag], prompt: ''}, {style: 'width: 100%', 'data-key': 'tag'}) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: 'shared/list_switcher', locals: {records: @illustrations} %>

    <div class="columns is-multiline <%= hacked_class %>">
      <% @illustrations.each do |illustration| %>
        <div class="column <%= column_size %>">
          <%= render partial: card_partial, locals: {
                title: illustration.title,
                link_path: image_path(illustration),
                cover_image_path: illustration.image.thumb(illustration.generate_image_size_syntax(:square)).url,
                summary: illustration.context,
                illustrator: illustration.illustrator_names
            } %>
        </div>
      <% end %>
    </div>

    <div class="columns is-centered">
      <duv class="column is-8">
        <%= paginate @illustrations, window: 2 %>
      </duv>
    </div>

  </div>
</div>

<%= render partial: 'shared/loading' %>