<%
  set_meta_tags title: t('meta.sub_title')
%>

<div class="intro">
  <div class="columns">
    <div class="column is-5 is-offset-1">
      <h1 class="title is-uppercase"><%= t('meta.site_name') %></h2>
      <h2 class="subtitle is-capitalized is-size-4"><%= t('meta.sub_title') %></h2>
      <div class="text is-size-5">
        <%= @page.content.html_safe if @page && @page.content.present? %>
      </div>
      <%= link_to t('labels.read_more'), about_path, class: 'read-more is-lowercase' %>
    </div>
    <div class="column is-5 decoration-oskar">
      <%= image_tag 'oskar_whip.png', alt: t('.oskar_alt') %>
    </div>
  </div>
  <div class="columns is-hidden-mobile">
    <div class="column is-10 is-offset-1">
      <div class="intro-mouse ">
        <%= image_tag "mouse.svg" %>
        <div class="mouse-text"><%= t('.scroll') %></div>
      </div>
    </div>
  </div>
</div>

<% if @highlights.present? %>

  <div class="slideshow-highlights-container columns is-centered">
    <div class="slideshow-highlights-slick column is-9">
      <div class="slideshow-slides">
        <% @highlights.each do |highlight| %>
          <div class="slideshow-slide">
            <div class="slideshow-slide-image">
              <%= link_to highlight.link do %>
                <%= image_tag highlight.cover_image.thumb(highlight.generate_image_size_syntax(:highlight)).url if highlight.cover_image_stored? %>
              <% end %>
            </div>
            <div class="slideshow-slide-text">
              <div class="slideshow-slide-title">
                <%= link_to highlight.title, highlight.link %>
              </div>
              <div class="slideshow-slide-summary">
                <%= highlight.summary.html_safe %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<div class="listings columns is-centered">
  <div class="column is-9">
    <% if @news.present? %>

      <%= render partial: 'shared/listing', locals: {
            title: t('labels.news'),
            records: @news,
            partial: 'card_meta_down',
            summary_method: 'summary',
            link_path: :news_path
        } %>

    <% end %>

    <% if @illustrations.present? %>

      <%= render partial: 'shared/listing', locals: {
            title: t('labels.illustrations'),
            records: @illustrations,
            partial: 'card_meta_hover',
            link_path: :image_path
        } %>

    <% end %>

    <% if @publications.present? %>

      <%= render partial: 'shared/listing', locals: {
            title: t('labels.publications'),
            records: @publications,
            partial: 'card_meta_down',
            summary_method: 'about',
            link_path: :source_path,
            show_counts: true
        } %>

    <% end %>
  </div>
</div>

<% if @stats.present? %>

  <div class="stats columns is-centered">
    <div class="column is-7">
      <h2 class="title is-4"><%= t('labels.stats') %></h2>
      <ul class="has-no-bullets">
        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.journals') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:journals] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.journal_issues') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:journal_issues] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.books') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:books] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.originals') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:originals] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.illustrations') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:illustrations] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.people') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:people] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.research') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:research] %></div>
        </li>

        <li>
          <div class="stats-heading has-text-weight-bold"><%= t('labels.languages') %></div>
          <div class="stats-count has-text-weight-bold"><%= @stats[:languages] %></div>
        </li>
      </ul>
    </div>
  </div>

<% end %>

<div class="closing">
  <%= image_tag 'logo-black-vertical.png', alt: t('meta.site_name') %>
</div>