<% if @highlights.present? %>
  <h2><%= t('labels.highlights') %></h2>
  <ul>
    <% @highlights.each do |highlight| %>
      <li>
        <div>
          <%= link_to highlight.link do %>
            <%= image_tag highlight.cover_image.thumb('300x200#').url if highlight.cover_image_stored? %>
          <% end %>
        </div>
        <div>
          <%= link_to highlight.title, highlight.link %>
        </div>
        <div>
          <%= simple_format(highlight.summary) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>