<%
  set_meta_tags title: t('meta.sub_title')
%>

<div class="intro">
  <div class="columns">
    <div class="column is-6">
      <h1 class="title is-uppercase"><%= t('meta.site_name') %></h2>
      <h2 class="subtitle is-capitalized is-size-4"><%= t('meta.sub_title') %></h2>
      <div class="text is-size-5">
        <%= simple_format(t('.intro')) %>
      </div>
      <%= link_to t('labels.read_more'), about_path, class: 'read-more is-lowercase' %>
    </div>
    <div class="column is-6 decoration-oskar">
      <%= image_tag 'oskar_whip.png', alt: t('.oskar_alt') %>
    </div>
  </div>

</div>

<% if @highlights.present? %>

  <div class="highlights">
    <ul>
      <% @highlights.each do |highlight| %>
        <li>
          <div>
            <%= link_to highlight.link do %>
              <%= image_tag highlight.cover_image.thumb('300x200#').url if highlight.cover_image_stored? %>
            <% end %>
          </div>
          <div>
            <%= link_to highlight.title, highlight.link %>
          </div>
          <div>
            <%= simple_format(highlight.summary) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>

<div class="listings">
  <% if @news.present? %>

    <div class="listing news">
      <div class="columns">
        <div class="column is-3">
          <h2 class="title is-4"><%= t('labels.news') %></h2>
        </div>
        <% @news.each do |news| %>
          <div class="column is-3">
            <%= news.title %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <% if @illustrations.present? %>

    <div class="listing illustrations">
      <div class="columns">
        <div class="column is-3">
          <h2 class="title is-4"><%= t('labels.illustrations') %></h2>
        </div>
        <% @illustrations.each do |illustration| %>
          <div class="column is-3">
            <%= illustration.title %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

  <% if @publications.present? %>

    <div class="listing publications">
      <div class="columns">
        <div class="column is-3">
          <h2 class="title is-4"><%= t('labels.publications') %></h2>
        </div>
        <% @publications.each do |publication| %>
          <div class="column is-3">
            <%= publication.title %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<% if @stats.present? %>

  <div class="stats">
    <h2 class="title is-4"><%= t('labels.stats') %></h2>
    <ul class="has-no-bullets">
      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.journal_issues') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:journal_issues][:count] %></div>
      </li>
      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.journal_issues_illustrations') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:journal_issues][:illustrations] %></div>
      </li>

      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.books') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:books][:count] %></div>
      </li>
      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.books_illustrations') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:books][:illustrations] %></div>
      </li>

      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.originals') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:originals][:count] %></div>
      </li>
      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.originals_illustrations') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:originals][:illustrations] %></div>
      </li>

      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.illustrators') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:illustrators][:count] %></div>
      </li>
      <li>
        <div class="stats-heading has-text-weight-bold"><%= t('labels.illustrators_illustrations') %></div>
        <div class="stats-count has-text-weight-bold"><%= @stats[:illustrators][:illustrations] %></div>
      </li>
    </ul>
  </div>

<% end %>

<div class="closing">
  <%= inline_svg('logo.svg') %>
  <div class="is-uppercase has-text-weight-bold is-size-4"><%= t('meta.site_name') %></div>
</div>