<h1><%= t('labels.news') %></h1>

<% if @news.present? %>
  <ul>
    <% @news.each do |news_item| %>
      <li>
        <div>
          <%= link_to news_path(news_item) do %>
            <%= image_tag news_item.cover_image.thumb('100x100#').url if news_item.cover_image_stored? %>
          <% end %>
        </div>
        <div>
          <%= link_to news_item.title, news_path(news_item) %>
        </div>
        <div>
          <%= news_item.date_publish %>
        </div>
        <div>
          <%= simple_format(news_item.summary) %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>

  <p><%= t('messages.no_data') %></p>

<% end %>