<%
  @lang_switcher_record = @person
  @lang_switcher_has_translations = true
  @lang_switcher_params_key = :id
  @lang_switcher_is_public = true
  @lang_switcher_fallback_url = people_path
  set_meta_tags description: @person.bio

  detail_orientation_class = 'landscape'
  image_size = 'x576'
  img_col_size = 10
  img_offset_size=1
  meta_col_size = 10
  meta_offset_size=1
  if @person.image.portrait?
    detail_orientation_class = 'portrait'
    image_size = '550x'
    img_col_size = 4
    meta_col_size = 5
    img_offset_size=1
    meta_offset_size=0
  end

  role_records = @person.person_roles.group_published_record_by_role
  @body_class = 'meta-details-container'
%>


<div class="columns meta-details <%= detail_orientation_class %>">
  <div class="column is-offset-<%= img_offset_size %> is-<%= img_col_size %> meta-image">
    <%= link_to 'javascript:void(0)', class: 'modal-button', 'data-target': 'modal-meta-image', title: t('labels.view_bigger_image') do %>
      <%= image_tag @person.image.thumb(image_size).url, alt: @person.name if @person.image_stored? %>
    <% end %>
  </div>
  <div class="column is-offset-<%= meta_offset_size %> is-<%= meta_col_size %> meta-items">
    <h1 class="title is-3"><%= title @person.name %></h1>
    <div class="meta-items-details">
      <ul class="meta-items-list">
        <li>
          <strong><%= t('labels.meta.date_birth') %>:</strong>
          <%= I18n.l @person.date_birth if @person.date_birth %>
        </li>
        <li>
          <strong><%= t('labels.meta.date_death') %>:</strong>
          <%= I18n.l @person.date_death if @person.date_death %>
        </li>
        <li>
          <strong><%= t('labels.meta.roles') %>:</strong>
          <% if role_records.present? %>
            <%= role_records.keys.join(', ') %>
          <% end %>
        </li>

        <% if @person.related_items.present? %>
          <li>
            <strong><%= t('labels.meta.in_the_news') %>:</strong>
            <ul>
              <% @person.related_items.each do |related_item| %>
                <li>
                  <%= link_to related_item.news_itemable.title, polymorphic_path(related_item.news_itemable), class: 'meta-link' %>
                </li>
              <% end %>
            </ul>
          </li>
        <% end %>

      </ul>

      <div class="meta-text-container">
        <div class="meta-text">
          <%= @person.bio.html_safe %>
        </div>
        <div class='meta-text-more'>
          <%= link_to t('labels.read_more'), 'javascript:void(0)', class: 'read-more modal-button', 'data-target': 'modal-meta-text' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if role_records.present? %>
  <% role_records.each do |key, value| %>
    <% if value[:is_illustrator] %>
      <%= render partial: 'shared/listing', locals: {
            title: key,
            total: value[:total],
            records: value[:latest_records],
            partial: 'card_meta_hover',
            link_path: :illustration_path,
            more_path: illustrations_path
        } %>
    <% else %>
      <%= render partial: 'shared/listing', locals: {
            title: key,
            total: value[:total],
            records: value[:latest_records],
            partial: 'card_meta_down',
            summary_method: 'about',
            link_path: :source_path,
            more_path: sources_path
        } %>
    <% end %>
  <% end %>
<% end %>



<div class="modal modal-meta-text">
  <div class="modal-background"></div>
  <div class="modal-content">
    <h1 class="title is-3"><%= @person.name %></h1>

    <%= @person.bio.html_safe %>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<% if @person.image_stored? %>
  <%= render partial: 'shared/image_modal', locals: {
        image_url: @person.image.url,
        alt: @person.name
    } %>
<% end %>
