<% pub = Publication %>
<%
  column_size = 'is-6-mobile is-4-tablet is-3-desktop is-3'
  card_partial = 'shared/card_meta_down'
  image_size = '400x204#'
  hacked_class = 'hacked-mobile'
  if params[:view].present? && params[:view].downcase == 'list'
    column_size = 'is-12'
    card_partial = 'shared/card_meta_right'
    image_size = '400x400#'
    hacked_class = ''
  end
%>

<div class="columns is-centered">
  <div class="column is-10">

    <h1 class="title is-3"><%= title t('labels.publications') %></h1>

    <% if @publications.present? %>

      <%= render partial: 'shared/list_switcher', locals: {records: @publications} %>

      <div class="columns is-multiline <%= hacked_class %>">
        <% @publications.each do |publication| %>
          <div class="column <%= column_size %>">
            <%= render partial: card_partial, locals: {
                  title: publication.title,
                  summary: card_partial == 'shared/card_meta_right' ? publication.about : nil,
                  link_path: source_path(publication),
                  cover_image_path: publication.cover_image.thumb(image_size).url,
                  type: pub.human_enum_name(:publication_type, publication.publication_type),
                  language: publication.language,
                  date_label: I18n.t("labels.publication_dates.#{publication.publication_type}"),
                  date: publication.date
              } %>
          </div>
        <% end %>
      </div>

      <div class="columns is-centered">
        <duv class="column is-8">
          <%= paginate @publications, window: 2 %>
        </duv>
      </div>

    <% else %>

      <p><%= t('messages.no_data') %></p>

    <% end %>

  </div>
</div>