<footer class="footer">
  <div class="columns">
    <div class="column is-7">
      <%= t('labels.contact') %>
      oskar@schmerling.org
    </div>
    <div class="column is-3">
      <%= t('labels.followus') %>
      <%= link_to 'https://facebook.com', target: :blank, class: 'share facebook' do %>
        <%= inline_svg('facebook.svg', alt: t('labels.facebook')) %>
      <% end %>
      <%= link_to 'https://twitter.com', target: :blank, class: 'share twitter' do %>
        <%= inline_svg('twitter.svg', alt: t('labels.twitter')) %>
      <% end %>
    </div>
    <div class="column is-2">
      &copy; <%= DateTime.now.year %>
    </div>
  </div>
</footer>